<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GroupFilter</filter-name>
        <filter-class>filters.GroupFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>controller.NewUserServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoverServlet</servlet-name>
        <servlet-class>controller.PasswordRecoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGroupsServlet</servlet-name>
        <servlet-class>controller.ListGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteServlet</servlet-name>
        <servlet-class>controller.AccRecInviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMyGroupServlet</servlet-name>
        <servlet-class>controller.ListMyGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPublicGroups</servlet-name>
        <servlet-class>controller.ListPublicGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeratorServlet</servlet-name>
        <servlet-class>controller.ModeratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGroupServlet</servlet-name>
        <servlet-class>controller.NewGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroupServlet</servlet-name>
        <servlet-class>controller.ManageGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendInviteServlet</servlet-name>
        <servlet-class>controller.SendInviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>controller.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>controller.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordRecoverServlet</servlet-name>
        <url-pattern>/PassResetController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/CyberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGroupsServlet</servlet-name>
        <url-pattern>/ListGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteServlet</servlet-name>
        <url-pattern>/InviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMyGroupServlet</servlet-name>
        <url-pattern>/ListMyGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPublicGroups</servlet-name>
        <url-pattern>/ListPublicGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeratorServlet</servlet-name>
        <url-pattern>/ModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGroupServlet</servlet-name>
        <url-pattern>/NewGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroupServlet</servlet-name>
        <url-pattern>/EditGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendInviteServlet</servlet-name>
        <url-pattern>/SendInviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/Group/PostServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter-mapping>
        <filter-name>GroupFilter</filter-name>
        <url-pattern>/Group/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listeners.WebContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/pweb2k14;user=pweb;password=pweb</param-value>
    </context-param>
</web-app>
